* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  --bg-color: #edf2ff;
  --text-color: #00082f;
  --primary-color: #4263eb;
  --primary-color-dark: #364fc7;
}

body.dark-blue {
  --bg-color: #00082f;
  --text-color: #ffffff;
}

body.pink {
  --bg-color: #fff0f6;
  --text-color: #1f000b;
  --primary-color: #d6336c;
  --primary-color-dark: #a61e4d;
}

body.pink-dark {
  --bg-color: #1f000b;
  --text-color: #ffffff;
  --primary-color: #d6336c;
  --primary-color-dark: #a61e4d;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 32px;
}

.container {
  text-align: center;
  width: 300px;
  margin: 60px auto;
}

.perfil {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: var(--primary-color) solid 4px;
  padding: 3.7px;
  margin-bottom: 24px;
}

p {
  margin-top: 8px;
  font-family: 'Roboto Mono', monospace;
  opacity: 0.8;
  font-size: 18px;
  font-weight: 400;
}

img.logo {
  margin-right: 8px;
}

ul {
  list-style: none;
  margin: 48px 0;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

  width: 300px;
  height: 53px;
  margin-bottom: 16px;
  padding: 16px 80px;
  border-radius: 6px;
  background: var(--primary-color);
  text-transform: uppercase;
  font-size: 14px;

  transition: background 400ms;
}

ul li a:hover {
  background: var(--primary-color-dark);
}

footer {
  font-weight: 500;
  font-size: 12px;
  opacity: 0.6;
  transition: opacity 400ms;
}

footer:hover {
  opacity: 1;
}

footer a {
  color: var(--text-color);
}
